body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Nunito', sans-serif;
	margin: 5px;
}

.midnightHeader.default {
	background-color: #52C0DE
	height:50px;
	font-size: 14px;
	color: white;
}

.midnightHeader.darks {
	background-color: #282830;
	height:50px;
	font-size: 14px;
	color: white;
}

.jumbotron {
	height: 585px;
	background-image: url(../images/background-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -80px;
	color: white;
	padding-top: 10%;
}

.jumbotron h1, .jumbotron p {
	color: white !important;
	margin: 0px;
}

.flexend {
	display: flex;
	justify-content: flex-end;
}

.app {
	display: flex;
	justify-content: center;
}
.app img {
	border-radius: 5px;
}
.map {
	right: 0;
}
.map img {
	display: block;
	margin: auto;
	max-width: 100%;
}

.container.playstore {
	padding-bottom: 20px;
}

.google-play {
	max-width: 200px;
}

.bg-primary {
	background-color: #52C0DE !important;
}

.btn {
	width: 200px;
	display: block;
	margin:auto;
}

.btn-primary{
	background-color: transparent;
	border: 1px solid #52C0DE;
	border-radius:25px;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	transition: background-color 0.5s linear;
}

.btn-primary:hover{
	background-color:#FAAA00;
	border: 1px solid transparent;
}

.align-bottom.second {
	padding: 20px;
}

.rounded-circle {
	height: 125px;
	width: 125px;
}

.social-buttons {
	display: flex;
	justify-content: flex-end;
}

.social-buttons a {
	text-decoration: none;
	color: white;
	font-size: 30px;
	transition: color 0.5s linear;
}

.social-buttons a:hover {
	color: #FAAA00;
}

.fa {
	margin-left: 15px;
}

#Home {
	background-color: white;
}
#Features {
	background-color: #52C0DE;

}
#Features p {
	color: white;
}
#AboutUs {
	background-color: white;
	color: #282830;
	height: 500px;
}

#Contact {
	background-color: #282830;
	color: white;
}
#Features, #AboutUs, #Contact {
	padding-top: 50px;
	padding-bottom: 50px;
}




@media (min-width: 1200px) {
.thin-center.container {
    max-width: 600px;
}
}

@media (min-width: 1200px) {
.medium-center.container {
    max-width: 800px;
}
}
@media (max-width: 991px) {
.map {
	left: 0;

}
.map img {
	max-width: 30%;
	padding-top: 50px;
}
.jumbotron {
	background-position: 0 0;
}
.my-4 h2, h6, p {
	text-align: center;
	font-size: 1.25em;
}
.google-play {
	display: block;
	margin: auto;
	max-width: 50%;
}
.social-buttons {
	display: flex;
	justify-content: center;
}
.fa {
	margin-left: 25px;
}
.btn-primary{
	background-color:#FAAA00;
	border: 1px solid transparent;
}
}
@media (max-width: 767px) {
	#AboutUs {
	min-height: 1180px;
}

}

