body {	
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Nunito', sans-serif;
	margin: 5px;
}
.midnightHeader.default {
	background-color: #52C0DE 
	height:50px;
	font-size: 14px;
	color: white;

}

.midnightHeader.darks {
	background-color: black;
	height:50px;
}
.jumbotron {
	height: 450px;
	background-image: url(../images/background-image.jpg);
	color: white;
}

.jumbotron h1, .jumbotron p {
	color: white !important;
	margin: 5px;
}

.flexend {
	display: flex;
	justify-content: flex-end;
}

.google-play {
	max-width: 200px;
}
.bg-primary {
	background-color: #52C0DE !important;
}

.btn {
	width: 200px;
	display: block;
	margin:auto;
}

.btn-primary{
	background-color: transparent;
	border: 1px solid #52C0DE;
	border-radius:25px;
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	transition: background-color 0.5s linear;
}

.btn-primary:hover{
	background-color:#FAAA00;
	border: 1px solid transparent;
}

.rounded-circle {
	height: 200px;
	width: 200px;
}
#Home {
	background-color: white;
}
#Features {
	background-color: #52C0DE;

}
#Features p {
	color: white;
}
#AboutUs {
	background-color: white;
	color: black;
}
#Contact {
	background-color: #282830;
	color: white;
}
#Features, #AboutUs, #Contact {
	padding-top: 100px;
	padding-bottom: 50px; 
}


@media (min-width: 1200px) {
.thin-center.container {
    max-width: 600px;
}
}

@media (min-width: 1200px) {
.medium-center.container {
    max-width: 800px;
}
}
